body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #376352;
  color: white;
}

header h1 {
  font-size: 3em;
}

#betting-form {
  margin: 20px auto;
}

#betting-container {
  display: flex;
  align-items: center;
}

#betting-container label {
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 3em;
}

#starting-bet {
  font-size: 1.2em;
  width: 3em;
}

#button-container {
  display: flex;
  justify-content: center;
}

#button-container button {
  margin: 15px auto;
  padding: 7px 12px;
  font-size: 1.2em;
  color: white;
  border: none;
}

#play-button {
  background-color: green;
}

#reset-button {
  background-color: #e93317;
}

#error-message {
  display: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#error-message p {
  padding: 5px;
  color: #e93317;
}

#res-table {
  margin: 20px auto;
  display: none;
  background-color: ;
}

#res-table caption {
  font-size: 3em;
  font-weight: bold;
  border-top: 1px solid black;
  margin: 10px auto;
}

#res-table,
#res-table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px 5px 5px;
}

#res-table tr:nth-child(even) {
  background-color: lightgray;
}
