body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-size: 3em;
}

#betting-form {
  margin: 20px auto;
}

#betting-container {
  display: flex;
  align-items: center;
}

#betting-container label {
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 3em;
}

#starting-bet {
  font-size: 1.2em;
  width: 3em;
}

#button-container {
  display: flex;
  justify-content: center;
}

#error-message {
  color: red;
  display: none;
}

#play-button {
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 1.2em;
}

#res-table {
  margin: 20px auto;
  display: none;
}

#res-table caption {
  font-size: 3em;
  font-weight: bold;
  border-top: 1px solid black;
  margin: 10px auto;
}

#res-table,
#res-table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px 5px 5px;
}

#res-table tr:nth-child(even) {
  background-color: lightgray;
}
