p {
  color: blue;
}

p.unique-p {
  color: green;
  font-family: "Comic Sans MS", arial;
  text-align: center;
  text-decoration: line-through;
}

#outside {
  border: thin black solid;
  width: 400px;
  height: 200px;
  background-color: #800d14;
  margin-left: 50px;
  margin-top: 50px;
}

#inside {
  text-align: center;
  font-size: 2em;
  background-color: white;
  padding: 20px 10px 5px 0;
  border: thick orange solid;
  margin: 15px;
}
