@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

body {
  background-color: #efe3a1;
}

body h1 {
  color: #a5be56;
  font-family: "Palette Mosaic", cursive;
  font-size: 72px;
  font-weight: bold;
}

body p {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c1003;
}

body header {
  text-align: center;
  background-color: #f7da83d3;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

nav {
  border-top: 1px solid #0c1003;
  border-bottom: 1px solid #0c1003;
  background-color: #f7da83d3;
  height: 70px;

  padding: 15px 0 0 10px;
}

nav .btn {
  background-color: #a5be56;
  color: white;
  margin-right: 10px;
}

nav .btn:hover {
  background-color: white;
  color: #a5be56;
  margin-right: 10px;
}

footer {
  background-color: #a5be56;
  color: #0c1003;
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
  padding: 30px 0;
}

.link {
  color: #da5117;
  text-decoration: underline;
}

.link:visited {
  color: #5c1c02;
  text-decoration: underline;
}

.link:hover {
  color: #da5117;
  text-decoration: underline;
  font-weight: bold;
}

.link:active {
  color: #da5117;
  text-decoration: none;
}

#page-header {
  padding: 1em 5px 0 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0c1003;
}

#page-header p,
span {
  font-size: 1.3em;
  font-weight: bold;
}
